:root{
    --branco-titulo: #FFFFFF;
    --branco-principal: #F6F6F6;
    --cinza-princpal: #1A1A1A;
    --cinza-fundo: #E6E6E6;
    --verde-principal: #007F06;
    --verde-botao: #63FF5D;
    --fonte-principal: 'Poppins';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--branco-principal);
    color: var(--cinza-princpal);
    font-family: var(--fonte-principal);
}

/*Cabeçalho=======================================================================================================*/

header{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #007F06;
    height: 109px;
}

.logo{
    grid-column: 1;
    margin-left: 85px;
    margin-top: 30px;
}

.pesquisa{
    grid-column: 2;
    width: 401px;
    height: 32px;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    border-radius: 20px;
}

#pesquisa::placeholder{
    padding-left: 9px;
    font-family: var(--fonte-principal);
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.entrar{
    grid-column: 3;
    color: var(--branco-principal);
    font-size: 38px;
    font-weight: bold;
}

.foto{
    
    width: 80px;
    height: 80px;
}

/*Cabeçalho=======================================================================================================*/

/*Mostruário======================================================================================================*/

.mostruario{
    display: block;
    background-color: #1A481D;
    width: auto;
    height: 250px;
}

.logo_mostruario{
    display: block;
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;
}

.descricao{
    display: block;
    padding: 50px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

/*Mostruário======================================================================================================*/

/*Notícias========================================================================================================*/
.area_noticias{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top: 50px;
}

.noticia{
    display: grid;
    grid-column: 2;
    grid-template-areas: 
        "img title title title";
    padding-top: 20px;
    padding-bottom: 20px;
}

.img_noticia{
    grid-area: img;
    height: 225px;
    width: 300px;
}

.title_noticia{
    grid-area: title;
    font-weight: bold;
    font-size: 25px;
}

/*Notícias========================================================================================================*/

/*Blocos de login e cadastro======================================================================================*/

.bloco_entrar{
    display: block;
    width: 495px;
    height: 422px;
    background-color: var(--cinza-fundo);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 29px;
    font-weight: bolder;   
}

.bloco_cadastrar{
    display: block;
    width: 495px;
    height: 585px;
    background-color: var(--cinza-fundo);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 29px;
    font-weight: bolder;   
}

.titulo__bloco{
    margin-left: 49px;
    margin-top: 85px;
    padding-top: 25px;
}

.nao_possuo_conta{
    margin-left: 25px;
    font-size: medium;
}

label{
    display: block;
    margin-left: 49px;
    margin-bottom: 12px;
    font-size: 19px;
    font-weight: 600;
}

.inserir{
    margin-left: auto;
    padding-top: 8px;
    padding-bottom: 12px;
}

.campo{
    display: block;
    width: 401px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: var(--branco-principal);
    
}

button{
    display: block;
    width: 401px;
    height: 75px;
    background-color: var(--verde-botao);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 29px;
    font-weight: bold;
}

#campo::placeholder {
    padding-left: 9px;
    font-family: var(--fonte-principal);
}
 

/*Blocos de login e cadastro======================================================================================*/

/*Perfil==========================================================================================================*/

.bloco_perfil{
    display: grid;
    grid-template-areas: 
        "foto links"
        "infos infos";
    width: 630px;
    height: 422px;
    background-color: var(--cinza-fundo);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 29px; 
}

.foto_atual{
    grid-area: foto;
    height: 200px;
    width: 200px;
    padding-top: 50px;
    padding-left: 50px;
}

.alteracoes{
    grid-area: links;
    padding: 10px;
    margin-left: 70px;
}

.info_perfil{
    grid-area: infos;
    padding-left: 50px;
}

/*Perfil==========================================================================================================*/
