:root{
    --branco-titulo: #FFFFFF;
    --branco-principal: #F6F6F6;
    --cinza-princpal: #1A1A1A;
    --cinza-fundo: #E6E6E6;
    --verde-principal: #007F06;
    --verde-botao: #63FF5D;
    --fonte-principal: 'Poppins';
}

body{
    background-color: var(--branco-principal);
    color: var(--cinza-princpal);
    font-family: var(--fonte-principal);
}

*{
    margin: 0;
    padding: 0;
}

.logo{
    margin-left: 85px;
    margin-top: 30px;
}

header{
    background-color: #007F06;
    height: 109px;
}

.bloco_entrar{
    display: block;
    width: 495px;
    height: 422px;
    background-color: var(--cinza-fundo);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 29px;
    font-weight: bolder;   
}

.bloco_cadastrar{
    display: block;
    width: 495px;
    height: 585px;
    background-color: var(--cinza-fundo);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 29px;
    font-weight: bolder;   
}

.titulo__bloco{
    margin-left: 49px;
    margin-top: 85px;
    padding-top: 25px;
}

.nao_possuo_conta{
    margin-left: 25px;
    font-size: medium;
}

.inserir{
    margin-left: auto;
    padding-top: 8px;
    padding-bottom: 12px;
}

label{
    display: block;
    margin-left: 49px;
    margin-bottom: 12px;
    font-size: 19px;
    font-weight: 600;
}

.campo{
    display: block;
    width: 401px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: var(--branco-principal);
    
}

button{
    display: block;
    width: 401px;
    height: 75px;
    background-color: var(--verde-botao);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 29px;
    font-weight: bold;
}

#email::placeholder {
    padding-left: 9px;
    font-family: var(--fonte-principal);
}

#senha::placeholder {
    padding-left: 9px;
    font-family: var(--fonte-principal);
}




